<div class="container">
    <h1>Clans Ranking - Specific Location</h1>

    <div class="filter-styles">
        <mat-form-field class="filter-style-size">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>

    <section class="table-information">
        <div class="table-information-title">
            <span>Ranking</span>
        </div>

        <table mat-table [dataSource]="dataSourceRanking" class="mat-elevation-z8">
            <ng-container matColumnDef="tag">
                <th mat-header-cell *matHeaderCellDef> Tag </th>
                <td mat-cell *matCellDef="let rankings" [routerLink]="['clans', rankings.tag]"> {{ rankings.tag }} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let rankings"> {{ rankings.name | titlecase }} </td>
            </ng-container>

            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef> location </th>
                <td mat-cell *matCellDef="let rankings"> {{ rankings.location.name | titlecase }} </td>
            </ng-container>

            <ng-container matColumnDef="clanLevel">
                <th mat-header-cell *matHeaderCellDef> Clan Level </th>
                <td mat-cell *matCellDef="let rankings"> {{ rankings.clanLevel }} </td>
            </ng-container>

            <ng-container matColumnDef="members">
                <th mat-header-cell *matHeaderCellDef> Members </th>
                <td mat-cell *matCellDef="let rankings"> {{ rankings.members  }} </td>
            </ng-container>

            <ng-container matColumnDef="clanPoints">
                <th mat-header-cell *matHeaderCellDef> Clan Points </th>
                <td mat-cell *matCellDef="let rankings"> {{ rankings.clanPoints }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsRanking"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsRanking;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </section>
</div>